body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.symptom-checker {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.header {
  background-color: #d32f2f;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 40px;
  margin-right: 20px;
}

.result {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.result h2 {
  color: #d32f2f;
}

.result img {
  width: 100px;
  height: 100px;
  margin: 10px 0;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.find-out-button {
  padding: 10px 20px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.find-out-button:hover {
  background-color: #b71c1c;
}

.slider {
  margin: 20px 0;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  text-align: center;
  margin: 0 10px;
}

.slide img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.prev-button,
.next-button {
  padding: 10px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prev-button:hover,
.next-button:hover {
  background-color: #b71c1c;
}

.footer {
  background-color: #f5f5f5;
  padding: 20px;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}
.user-info {
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  color: #d32f2f;
}

.dropdown-content {
  margin-top: 10px;
}

.question-block {
  margin-bottom: 10px;
}

.question-block strong {
  color: #333;
}

.question-block p {
  margin-left: 10px;
  color: #555;
}
.Dropdown_result {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  text-align: start !important;
}
.Dropdown_title {
  background-color: #b93b3b;
  color: white;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}
