.quesiton_1 {
  text-align: center;
  color: red;
  background-color: white;
  height: 90vh;
  width: 100vw;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
}

/* .card-background-right {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
    height: 100%;
    background-color: #b71c1c; 
    z-index: 0;
  }
  .card-background-left {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 100%;
    height: 100%;
    background-color: #b71c1c;
    z-index: 0;
  }  */
.card {
  position: relative;
  cursor: pointer;

  /* overflow: hidden;
    transition: transform 0.2s; 
    width: 100%;
    height: 100%;
    /* box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    z-index: 1; */
}
.card p {
  color: black;
  font-size: 25px;
  /* position: fixed; */
}
.card img {
  width: 350px;
  height: 350px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.title-container {
  padding: 20px 40px;
  display: inline-block;
  position: relative;
  color: red;
  font-size: 93px;
  font-weight: bold;
  width: 1200px;
  text-transform: uppercase;
}

/* .title-container::before,
  .title-container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid white;
  }
  
  .title-container::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
  }
  
  .title-container::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
  } */
