.question_2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.question_2 h3 {
  color: black;
}

.option-container {
  display: grid;
  gap: 80px; /* Khoảng cách giữa các ô */
  justify-content: center;
  align-items: center;
}

.two-columns {
  grid-template-columns: repeat(2, 1fr); /* 2 đáp án mỗi hàng */
}

.three-columns {
  grid-template-columns: repeat(3, 1fr); /* 3 đáp án mỗi hàng */
}

.option {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #f5f5f5;
}
.activeBG {
  border: 2px solid #d33;
  border-radius: 12px;
  padding: 20px;
  background-color: red;
  position: relative;
  margin-top: 30px;
  padding-top: 50px;
  color: white;
}
.container1 {
  position: relative;
  width: 320px;
  text-align: center;
  border: none;
  background: white;
}
.question-option {
  color: rgb(177, 5, 5);
}
.content-box:hover {
  cursor: pointer;
}
.content-box {
  border: 2px solid #d33;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  position: relative;
  margin-top: 30px;
  padding-top: 50px; /* Để có khoảng cách giữa ảnh và nội dung */
}

.circle-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid white; /* Tạo viền trắng để không bị mất viền hộp */
  background-color: white;
  position: absolute;
  top: -10px; /* Đưa hình tròn lên cao hơn */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; /* Đảm bảo ảnh luôn nằm trên viền hộp */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng để làm nổi bật */
}

.circle-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
