.question_2 {
  display: flex;
  flex-direction: column;
}

.question_2 h3 {
  color: black;
}

.option-container {
  display: grid;
  gap: 10px; /* Khoảng cách giữa các ô */
  justify-content: center;
  align-items: center;
}

.two-columns {
  grid-template-columns: repeat(2, 1fr); /* 2 đáp án mỗi hàng */
}

.three-columns {
  grid-template-columns: repeat(3, 1fr); /* 3 đáp án mỗi hàng */
}

.option {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #f5f5f5;
}
.activeBG {
  background-color: red !important;
}
