.background_Result {
  display: flex;
  justify-content: center;
}
.Result_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}
.Sick_result {
  display: flex;
  justify-content: center;
}
.img_result img {
  width: 400px;
  height: 200px;
}
.text_result_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text_result {
  color: var(--black-color);
  width: 340px;
  text-align: center;
}
.text2_result {
  color: var(--blue-color);
  font-size: 40px;

  font-weight: bold;
  width: 340px;
}
